body{
  background-color: #E6DACE;
}
.navbar{
  margin-bottom: 20px;
}
.profilepic{
  margin-top: 10px;
}
.propic{
  border-radius: 5%;
}
.greeting{
    font-size: 90px;
}
.bitabout{
  font-size: 30px;
}
.bio{
  font-size: 18px;
  margin-bottom: 70px;
}
.btn{
  height: 120px;
  width: 110px;
  font-size: 20px
}
